.App {
  display:flex;
  align-items:center; 
  text-align: center;

}

.order{
  margin:auto
}

.sidebar{
  margin:50px;
 
}
button{
  width: 100px;
  border:none;
  background: none;
}
.active .abc{
  width:100px;
  background: gray
}

.active{
  background: gray
}
